*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 12pt;
  
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(100deg,#E3F2FD,#F3E5F5);
}

.app-root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.todo-card{
  /*border: 1px solid black;*/
  width: 100%;
  max-width: 900px;
  background: #f3ededcc;
  padding: 2.5rem;
  box-shadow: 30px 20px 30px rgb(15, 23, 42, 0.15);
  border-radius: 1.25rem;
}

header h1{
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
}

header p{
  text-align: center;
  font-size: 1.1rem;
  color: #6B7280;
}

.input-row{
  
  display: flex;
  gap: 1.75rem;
  margin: 1.25rem;
}

.input-row input{
  flex: 1;
  padding: 1rem;
  border-radius: 1.75rem;
  border: 1px solid D1d5dB;
  outline: none;
  font-size: 1.2rem;
  transition: border-color 1s,box-shadow 1s;
}

.input-row input:focus{
  border-color: #3B82F6;
  box-shadow: 0px 0px 0px 3px rgb(59, 130, 246, 0.25);
}


.input-row button{
  padding: 0 1.25rem;
  border-radius: 0.75rem;
  background: #3B82F6;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 8px 16px #3B82F680;
  transition: transform 0.1s,box-shadow  0.1s, background 0.1s;
}

.input-row button:hover{
  background: #2563eb;
  transform: translateY(-5px);
  box-shadow: 0 4px 10px #3B82F666;
}

.input-row button:active{
  transform: translate(0);
  box-shadow: 0 4px 10px #3B82F666;
  
}

.empty-state{
  text-align: center;
  color: #6b7280;
  font-size: 1.1rem;
  margin: 0.75rem 0 0;
}


.toolbar{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content:space-between;
  font-size: 1rem;
}

.filter{
  display: flex;
  gap: 0.5rem;

}

.filter button{
  padding: 0.5rem 1.75rem;
  border-radius: 20rem;
  background: #e5E7EB;
  font-size: .95rem;
  cursor: pointer;
  border: none;
  transition: background 1s;
}

.filter button:hover{
  background: #D1D5D8;
  transform: translateY(-1px);

}

.filter button:active{
  transform: translateY(0px);
  box-shadow: 0 4px 10px #B6CFF666;
}

.filter button.black{
  background: #111827;
  color: #F9FaFB;
}

.clear-btn{
  background: #Fee2e2;
  color: #B91C1c;
  border: none;
  padding: 0.5rem 1.75rem;
  border-radius: 20rem;
  cursor: pointer;
  
}

button.clear-btn:disabled{
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

button.clear-btn:not(:disabled){
  background: #fecaca;
  transform: translateY(-3px);

}

button.clear-btn:not(:disabled):active{
  transform: translateY(0px);
}


.todo-list{
  list-style: none;
  max-height: 480px;
  
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #E0E0E0;

}

.todo-list::-webkit-scrollbar{
  width: .5rem;
  
}

.todo-card::-webkit-scrollbar-thumb{
  background: #cbd5f5;
  border-radius: 999px;
}

.todo-list li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  margin: 0.5rem 0;
  background: #F9FaFB;
  font-size: 1.2rem;
  border-radius: 0.75rem;
  transition: background 0.1s, transform 0.1s, box-shadow 0.1s;

}

.todo-list li:hover{
  background: #f3f4f6;
  transform: translateY(-1px);
  box-shadow: 0 8px 18px #0f172A14;

}

.todo-list label{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1;

}

.todo-list label input[type='checkbox']{
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
  accent-color: #3b82f6;
}

.todo-list label .todo-text{
  font-size: 1.2rem;
  word-break: break-word;
}

.delete-btn{
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #9ca3af;
  background: transparent;
  border: none;
  transition: background 1s,color 1s;

}

.delete-btn:hover{
  background: #fee2e2;
  color: #B91C1c;
}

.todo-list li.completed .todo-text{
  text-decoration: line-through;
  color: #9ca3af;
}

footer{
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  color: #6B7280;
  opacity: 60%;
}

@media (max-width: 600px){
  .input-row{
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
  }
  .input-row button{
    
    width: 200px;
    height: 50px;
  }
  .toolbar{
    justify-content: center;
    margin-bottom: 1rem ;
  }
}